databases:
  - name: fitrack-db
    databaseName: fitrack
    user: fitrack
    plan: free

services:
  - type: web
    name: fitrack
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    preDeployCommand: php artisan migrate --force
    envVars:
      - key: APP_KEY
        sync: false
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        sync: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_URL
        fromDatabase:
          name: fitrack-db
          property: connectionString
      - key: SESSION_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: sync
      - key: LOG_CHANNEL
        value: stderr
      - key: GEMINI_API_KEY
        sync: false
